<html>

  <head>
    <meta charset='utf-8' />
    <title>App</title>
    <script src='https://cdn.tailwindcss.com'></script>
    <!-- <script>
      tailwind.config = { theme: { extend: { colors: { clifford: '#da373d', } }
      } }
    </script> -->
  </head>

  <body>
    <h1 class='text-3xl font-bold text-clifford'>Hello Drizzle-kits!</h1>

    <img src='{{imagePath}}' alt='logo' width='200' height='100' />
    <img src='_media/nest-drizzle.webp' alt='logo' width='250' height='140' />
    <div>{{title}}</div>
    <p>{{message}}</p>

  </body>

</html>